  <div class="row mt-3">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="btn-group dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Zurück
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{site.baseurl}}/">Alle Fragen</a>
          {% for thema in site.themen %}
          <a class="dropdown-item" href="{{ thema.url | prepend: site.baseurl | replace: '//', '/' }}">{{ thema.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
