<div class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">Deine Fragen</h5>
    <p>Diese Webseite ist work in progress. Sie versucht Antworten auf Fragen zum NSU-Komplex und dem gesellschaftlichen Umgang mit dem NSU zu finden. Denn es sind noch viele Fragen offen!</p>
    <p>Hast du Fragen? Stelle Deine Frage an <a href="mailto:{{ site.email }}">{{ site.email }}</a>. Du hast auch Lust einen Text zu schreiben? Dann melde dich bei uns!</p>
    <div class="text-center">
      <a href="mailto:{{site.email}}" class="btn btn-primary">E-Mail senden</a>
    </div>
  </div>
</div>
