
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

header.masthead{
    margin-bottom: 15px;
  }

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    padding: 20px 0 40px 0;
}

.homelink a {
  color: $white}

.post-preview {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 36px; 
}

.post-heading > h1 {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 36px;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 42px; 
  }
  .post-heading > h1 {
    font-size: 42px;
  }
}


.post-title > span, .post-heading span {
  color: $black;
  padding: 0.1em 0;
  line-height: 1.3em;
  background-image: linear-gradient(to bottom, $primary, $primary);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 1px 0.2em;
  transition: background-position 0.5s, background-size 0.5s, color 0.5s;
}

.post-preview > a:focus > h2 > span,
.post-preview > a:hover > h2 > span {
  color: $white;
  background-image: linear-gradient(to bottom, $primary, $primary);
  background-position: 0 0.05em;
  background-repeat: repeat-x;
  background-size: 1px 1.35em;
}

blockquote {
  color: $black;
  border-left: 8px solid $primary;
  padding-left: 20px;
}

.clearfix {
  margin-top: 80px;
}
footer .list-inline-item > a {
  color: $primary;
}
footer .list-inline-item > a:hover {
  color: lighten($primary, 10%);
}

footer ul li::before{
  content: ""
}

.dropdown, .dropdown-menu {
  width: 100%
}

.dropdown-toggle,.dropdown-item {
  white-space: normal;
}

@media only screen and (min-width: 576px) {
  .dropdown, .dropdown-menu {
    width: auto;
  }
  .dropdown-item {
    white-space: nowrap;
  }
}


body {
  font-size: 21px;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 25px 0 15px 0;
}

a {
  color: $primary;
}

footer {
  padding: 60px 0 20px;
}
footer .legal {
  text-align: center;
  text-transform: uppercase;
  font-weight:600;
  font-size: 12px;
  color: $gray-500;
  @include sans-serif-font;
}

footer .copyright {
  text-transform: uppercase;
  font-weight:600;
  font-size: 12px;
  color: $gray-500;
  @include sans-serif-font;
}

