---
layout: default
---

<div class="container">
  <div class="row mt-3">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="btn-group dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-filter"></i> Alle Fragen
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{site.baseurl}}/">Alle Fragen</a>
          {% for thema in site.themen %}
          <a class="dropdown-item" href="{{ thema.url | prepend: site.baseurl | replace: '//', '/' }}">{{ thema.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto fragenliste">
      {% for frage in site.fragen %}
      <article class="post-preview">
      <a href="{{ frage.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title"><span>{{ frage.title }}</span></h2>
      </a>
      </article>
      {% endfor %}

    </div>
  </div>
</div>
